*{
    padding:0;
    margin:0;
}

[class]{
    background-color: rosybrown;
}

a[href]{/*Estilo de links*/
    text-align: center;
    margin-left: 2%;
    color: saddlebrown;
}

/*Utilizando sufijo*/
a[href$=".com"]{
    text-align: right;
    margin-top: 10px;
    color: blue;
}

/*Utilizando prefijos*/
article[class^="pre"]{
    margin-top: 25px;
}

/*Conteniendo la palabra*/
p[class*="rra"]{
    background-color: tan;
}

/*Modificar el hermano 
    elemento hermano seleccionado, elemento hermano siguiente que se va a afectar
*/
.subtitulo + article{/*el + modifica a un solo hermano seleccionado*/
    padding: 10px;
    margin-top: 5px;
    background-color: yellow;
}

.hermanos ~ p{/*el ~ afecta a todos los hemanos*/
    padding: 10px;
    border: 4px double black;
    text-align: center;
}

/*Descendencia*/
.content .subtitulo{
    background-color: red;
}

/*
h1, .articulo1, #segundoParrafo{
    text-align: center;
}
*/

/*Selectores multiples*/

.parrafo.aside{
    font-size: 25px;
    margin: 3%;
    padding: 3px;
}

/*Selector hijos directos*/

.ubicacion>.press{
    background-color: violet;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 22px;
}